html {
  min-height: 100%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: #F2CB9B;
}

.root {
  width: 800px;
  margin: 100px auto;
}

.container {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.5);
}

.side__card {
  background-color: #4C4E59;
  color: #fff;
  padding: 25px;
  width: 300px;
}

.heading {
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 25px
}

.subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}

.divider {
  display: block;
  width: 25%;
  border-top: 2px solid #E37B62;
}

.avatar {
  position: relative;
  top: 320px;
  border-radius: 100%;
  width: 20%;
  box-shadow: 0 5px 12px 0 rgba(0, 0, 0, 0.5);
}

.name {
  position: relative;
  top: 280px;
  left: 75px;
}
.card__main {
  background-color: #fff;
  padding: 30px;
  
}

.cap {
  font-size: 1.5rem;
  font-weight: 500;
}

hr {
  width: 100%;
  border-top: 1px solid rgb(230, 230, 230);
  box-shadow: 10px 0px 5px 0 rgba(0, 0, 0, 0.5);
}

.bottom {
  position: inherit;
  top: 25px;
}
.date__time {
  padding-top: 20px;
}

.comment__more {
  position: relative;
  left: 80px;
  top: 20px;
}

.comment__more p {
  position: relative;
  left: 30px;
  bottom: 25px;
  color: lightgray;
  font-size: .9rem;
}

.more {
  position: relative;
  left: 80px;
  bottom: 60px;
}